{{#if display_options }}
  {{#with options }}
    {{> _menu }}
  {{/with}}
{{else}}
  <div class='text'>{{currentText}}</div>
{{/if }}
<div class='continue-arrow'>
  <div class='blink'>▼</div>
</div>
