<div id='player-list'>
  <h2>Active Players:</h2>
  {{#each .}}
    <div class='player'>
      <div class='name'>{{name}}</div>
      {{#if available}}
        <button class='request-battle' data-id='{{id}}'>Challenge</button>
      {{/if}}
    </div>
  {{/each}}
</div>
