#battle-zone{
  width:400px;
  font-family: "Lucida Console", Monaco, monospace;

  .picture img{
    width:128px;
    height:128px;
  }

  #own_display{
    width:100%;

    .details{
      float:right;
    }

    .picture{
      float:left;

      img{
        -moz-transform:scaleX(-1);
        -o-transform:scaleX(-1);
        -webkit-transform:scaleX(-1);
        transform:scaleX(-1);
        filter:FlipH;
        -ms-filter:"FlipH";
      }
    }
  }

  #enemy_display{
    width:100%;

    .details{
      float:left;
    }

    .picture{
      float:right;
    }
  }

  #between{
    width:100%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    border:1px solid black;
    padding:5px;
    margin-bottom:15px;
    margin-top:15px;
  }

  .side{
    .details{
      width:50%;
      text-align:center;

      .name{
        width:100%;
      }
      
      .bar-container{
        width:100%;
        position:relative;
        height:40px;
        background-color:black;
        margin-bottom:5px;
        padding:10px 5px 10px 5px;

        .inside-bar-container{
          position: relative;
          height:100%;
          width:100%;

          .background-bar{
            position:absolute;
            top:0;
            left:0;
            height:100%;
            width:100%;
            background-color:#EEE;
          }

          .foreground-bar{
            position:absolute;
            top:0;
            left:0;
            height:100%;
            background-color:#999;
          }

          .label{
            position:absolute;
            top:0px;
            left:0;
            height:100%;
            width:100%;
            text-align:center;
          }
        }
      }
    }
    
    .name{
      width:50%;
      text-align:center;
    }

    &:after{
      display:block;
      content:'';
      clear:both;
    }
  }

  #battle-text{
    position:relative;
    width:100%;
    border:10px double black;
    padding:6px;
    height:120px;

    .text{
      width:100%;
      height:100px;
    }
    .continue-arrow{
      display:none;
      position:absolute;
      bottom:0px;
      right:0px;
      height:20px;
      width:20px;
      padding:2px;
    }
  }
  
  .buff, .debuff{
    display:inline-block;
    color:white;
    padding-left:3px;
    padding-right:3px;
  }

  .buff{
    background-color: green;
  }

  .debuff{
    background-color: brown;
  }
}
