.map{
  border:1px solid black;

  .cell{
    border:1px solid black;
    height:20px;
    width:20px;
    background-color:green;
    text-align:center;

    &.empty{
    }

    &.occupied{
      color:white;
    }
  }
}
