.menu{
  border:10px double black;
  padding:6px;

  .text{
    width:100%;
  }

  .continue-arrow{
    display:none;
    position:absolute;
    bottom:0px;
    right:0px;
    height:20px;
    width:20px;
    padding:2px;
  }
}

.move-selector{
  margin-right:320px;
  .spirit{
    margin-bottom: 16px;

    .header{
      border-left:1px solid black;
      border-top:1px solid black;
      padding:3px;
      
      .left{
        float: left;
      }

      .name{
        font-weight:bold;
      }

      .section{
        float: left;
        border-left:1px solid black;
        margin-left:16px;
        padding-left:4px;

        .subsection{
          display:block;
          padding-top:5px;
          padding-bottom:5px;
        }

        .total{
          border: 2px outset black;
          padding-left:10px;;
        }

        &.right{
          float: right;

          button{
            display: block;
          }
        }
      }

      .portrait{
        display:block;

        img{
          height:150px;
          width:auto;
        }
      }

      &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
      }
    }

    .moves{
      border:1px solid black;
      margin-left:5px;
      background-color:#CCC;

      .move{
        width:350px;
        display:inline-block;
        margin:2px;
        border:1px outset black;
        padding:3px;

        .equipped-tag{
          display:inline-block;
          background-color:green;
        }

        &.equipped{
          background-color:#FFF;
          border-style: inset;
        }
      }
    }
  }
}
