.menu{
  border:10px double black;
  padding:6px;

  .text{
    width:100%;
  }

  .continue-arrow{
    display:none;
    position:absolute;
    bottom:0px;
    right:0px;
    height:20px;
    width:20px;
    padding:2px;
  }
}

.move-selector{
  .spirit{

    .header{
      border-left:1px solid black;
      border-top:1px solid black;
      padding:3px;
      
      .name{
        font-weight:bold;
      }
    }
    
    .moves{
      border:1px solid black;
      margin-left:5px;
      background-color:#CCC;

      .move{
        width:350px;
        display:inline-block;
        margin:2px;
        border:1px outset black;
        padding:3px;

        .equipped-tag{
          display:inline-block;
          background-color:green;
        }

        &.equipped{
          background-color:#FFF;
          border-style: inset;
        }
      }
    }
  }
}
